<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="personClient" class="cn.yklove.bean.Person" name="testPerson">
		<description>当前bean的描述信息，便于阅读</description>
		<property name="age" value="11"/>
		<property name="name" value="name"/>
		<constructor-arg name="age" value="18"/>
		<constructor-arg name="name" value="test"/>
	</bean>
	<bean id="personClient2" class="cn.yklove.bean.Person">
		<description>当前bean的描述信息，便于阅读</description>
		<constructor-arg name="name" value="test"/>
	</bean>

</beans>